@import url(./index.css);

body {
    background: var(--background);
    margin: 0px;
    padding: 0px;
    color: #aaacbc;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    animation: Appeare 2s ease;
    background-repeat: no-repeat;
    background-position-x: center;
}

.box {
	text-align: center;
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid #37364000;
	background-color: #25242b;
	padding: 3%;
	border-radius: 7px;
	animation: upDown 2s ease infinite;
	transition: .5s ease-in-out;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 19px 38px, rgba(0, 0, 0, 0.07) 0px 15px 12px;
}

.box .N {
    font-size: 30px;
    display: block;
    font-weight: bold;
}

.box .N::after {
    content: "Page not found.";
    animation: switch 2s ease infinite;
    font-size: 25px;
}

.box:hover {
    transition: 0.5s ease;
    filter: brightness(1.15);
}

@media screen and (max-width: 700px) {
    .box {
        width: 100%;
    }

    .box .N::after {
        font-size: 20px;
    }
}