@import url(./global.css);

body {
    background: var(--background);
    --link-bottom-color: #acacac99;
    --link-hover-bottom-color: var(--link-bottom-color);
}

main>h1 {
    margin: calc(100px + var(--header-height)) auto 50px auto;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    font-family: var(--secFont);
}

p.text {
    white-space: pre-line;
}

main>section+section {
    margin-top: 25px;
}

main>section+section>:is(h2, details):first-of-type {
    margin-top: 10px;
}

details>summary {
    cursor: pointer;
}

main>setion details>summary {
    text-transform: capitalize;
}

details>summary+*,
details+details {
    margin-top: 10px;
}

section>h3,
details>:is(h3, h4) {
    margin: 15px auto;
    text-transform: capitalize;
}

details.preview summary {
    margin-bottom: 10px;
    margin-top: 10px;
}

details>summary+img {
    margin-top: 19px;
    width: calc(100% - 20px);
    width: 100%;
    border: 1px solid #393742;
    border-radius: 5px;
}

.pages .page ul {
    margin: 10px 0 10px 15px;
}

.pages>details[open]~details:not([open]) {
    opacity: .7;
}

.pages>details[open]::after {
    content: "";
    content: none;
    position: absolute;
    width: 100%;
    height: 2px;
    transform: translateY(30px);
    background: #ffffff2b;
}

details[open] {
    padding-bottom: 50px;
    padding-bottom: 30px;
}

.date {
    margin: 10px 0;
    font-size: 75%;
    opacity: 0.7;
}

.page[data-path] :first-child>a {
    opacity: .5;
    white-space: pre;
}

.inline-icon {
    width: 14px;
    transform: translateY(4px);
    display: inline-block;
    margin: 0 2px;
}

.inline-icon.i {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z'%3E%3C/path%3E%3C/svg%3E");
}

::selection {
    color: #80d5ff;
}

@media screen and (max-width: 500px) {
    .page[data-path]>:first-child>a {
        display: none;
    }
}