@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Heebo-400.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Ubuntu-700.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --color: #fff;
    --selectionCol: #6794ff;
    --hoverCol2: rgb(227, 234, 243);
    --mainFont: 'Heebo', sans-serif;
    --secFont: 'Ubuntu', sans-serif;
    --header-height: 55px;
}

body {
    --background: #1c1b22;
    --background-scroll: #2f2f32;
    --background-btns: linear-gradient(to right, #36353c, rgb(72 70 79 / 71%));
    --background-btns: #37363d;
    --background-card: #29282e;
    --background-card-head: #26252b;
    --background-header: #212026;
    --background-descLink: #1f1e24;
    --background-contact-line: #5b5a5ea3;
    --shadow-header: 0px 0px 50px -12px rgba(0, 0, 0, 0.46);
    --border-bottom-header: 1px solid #312f3b;
    --background-header: #25242b;
    --border-bottom-header: 1px solid #00000000;
    --shadow-header: 0px 0px 50px -12px rgba(0, 0, 0, 0.2);
    --background-menu-project-box: #1f1e24b8;
    --background-body: #15141a;
    color: var(--color);
}

body.dark {
    --selectionCol: #659cf1;
    --background: #26282e;
    --background-scroll: #242426;
    --background-scroll: #3d4149;
    --background-btns: #34363e;
    --background-card: rgb(52 54 62);
    --background-card-head: rgb(55 57 66);
    --background-header: #26282e;
    --background-descLink: #282a2f;
    --background-contact-line: #46474a;
    --shadow-header: 0 0 20px 0 #00000080;
    --border-bottom-header: 1px solid #ef524e;
    --border-bottom-header: 1px solid rgb(114 124 172 / 50%);
    --background-menu-project-box: #212328;
    --background-body: #1c1d22;
}

body.light {
    --color: #0d0b1c;
    --selectionCol: #2a6bd3;
    --hoverCol2: rgb(28, 21, 12);
    --background: #fff;
    --background-scroll: #dbdbdb;
    --background-btns: #e6e6e6;
    --background-card: #ebedef;
    --background-card-head: var(--background-card);
    --background-header: #ffff;
    --background-descLink: #babcbf91;
    --background-contact-line: #3d3847;
    --background-contact-line: #5e52522e;
    --shadow-header: 0 0 20px 0 #00000054;
    --shadow-header: 0px 0px 50px -12px rgba(0, 0, 0, 0.29);
    --border-bottom-header: 1px solid rgb(114 124 172 / 50%);
    --background-menu-project-box: var(--background-card);
    --background-body: #eee;
}

body.light .card {
    box-shadow: rgba(0, 0, 0, .05) 0 14px 10px, rgba(0, 0, 0, .22) 0 10px 10px;
    box-shadow: rgba(0, 0, 0, .05) 0 14px 10px, rgba(0, 0, 0, 0) 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: #0d0b1c;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: var(--background-scroll);
}

::-webkit-scrollbar-track {
    background: var(--background);
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    color: var(--hoverCol2);
    font-family: var(--secFont);
    font-family: var(--mainFont);
    vertical-align: top;
    scrollbar-color: var(--background-scroll) var(--background);
    scrollbar-width: thin;
    transition: all .3s ease;
}

a:hover:not(.menuLogo):not(.btn) {
    opacity: .6;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background: var(--background-body);
    overflow: hidden;
}

.hidden,
body:not(.expand-menu) .menuStuff .projects .project,
body.notLoaded :is(.window> :not(.back-logo), .outside) {
    display: none;
}

.window {
    top: 50%;
    left: 50%;
    z-index: 1;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background);
    transform: translate(-50%, -50%);
}

.window.active~.page-info {
    /* opacity: 0; */
    pointer-events: none;
}

@keyframes fromBottom {
    from {
        bottom: -25px;
    }
}

.page-info {
    animation: fromBottom .5s ease;
    position: absolute;
    bottom: 15px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 80%;
    display: grid;
    grid-template-columns: 1fr auto;
}

.page-info .left {
    opacity: .6;
}

body.light .page-info {
    opacity: 1
}

.page-info .left .item .value {
    opacity: .5;
    margin-left: 10px;
}


.page-info .right .discord-logo {
    opacity: .3;
    width: auto;
    height: 30px;
}

.page-info .right .discord-logo:hover {
    opacity: 1;
}

.themes {
    display: flex;
    gap: 15px;
}

.themes .theme {
    width: 25px;
    height: 25px;
    position: relative;
    background: #25242b;
    border-radius: 100%;
}

.themes .theme.light {
    background: #fff;
}

.themes .theme.dark {
    background: #34363e;
}

body:not(.light):not(.dark) .themes .theme.darker,
body.dark .themes .theme.dark,
body.light .themes .theme.light,
.themes .theme:is(.active, :hover) {
    width: 16px;
    height: 16px;
    margin: 5px 4.5px 0 4.5px;
    transition: none;
}

body.dark .themes .theme.dark::after,
body.light .themes .theme.light::after,
body:not(.light):not(.dark) .themes .theme.darker::after,
.themes .theme:is(.active, :hover)::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 3px solid #4f8bff;
    border-radius: 100%;
    top: -7px;
    left: -7px;
}

@keyframes nextAn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }
}

.outside.next {
    animation: nextAn 3s ease;
    position: fixed;
    top: 17px;
    right: 25px;
    width: 17px;
    z-index: 15;
    opacity: 0.2;
    height: auto;
    display: none;
}

.outside.next.close {
    opacity: .5;
}

.outside.next.close {
    width: 25px;
    top: 13px;
    right: 21px;
}

.outside.next svg {
    width: 100%;
    height: 100%;
}

body.otherWindow .outside.next {
    top: 15px;
    color: #000 !important;
}

.outside.next:hover {
    opacity: 1;
}

.invisible,
.window.active~.next.close,
.window:not(.active)~.next:not(.close) {
    opacity: 0 !important;
    pointer-events: none !important;
}

.window.\:2 {
    padding: 5%;
}

/* Not on a phone or small device */
@media screen and (min-width: 750px) and (min-height: 650px) {
    .window {
        --width: 90%;
        --height: 85%;
        --top: 47%;
        --left: 50%;
        --border-radius: 10px;
    }

    .window:not(.active) {
        /* overflow: hidden; */
        border-radius: var(--border-radius);
        box-shadow: #0003 0px 7px 29px 0px;
        /* box-shadow: #00000048 0px 7px 29px 0px; */
        top: var(--top);
        width: var(--width);
        height: var(--height);
    }


    @keyframes otherWinAn {
        0% {
            left: 150%;
            top: var(--top);
            width: var(--width);
            height: var(--height);
            border-radius: var(--border-radius);
        }

        40% {
            left: var(--left);
            top: var(--top);
            width: var(--width);
            height: var(--height);
            border-radius: var(--border-radius);
        }

        70% {
            top: var(--top);
            width: var(--width);
            height: var(--height);
            border-radius: var(--border-radius);
        }
    }

    .window.\:2 {
        animation: otherWinAn 1.5s ease;
        top: 50%;
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding: 0 20%;
    }

    iframe {
        border: none;
        background: #fff;
    }
}

@keyframes backLogoAn {
    0% {
        opacity: 0;
    }

    40% {
        height: 90%;
        filter: saturate(0%);
    }

    45% {
        filter: saturate(100%);
    }

    50% {
        filter: saturate(0%);
        opacity: .1;
    }

    55% {
        filter: saturate(100%);
    }

    60% {
        filter: saturate(0%);
    }

    65% {
        filter: saturate(100%);
    }

    100% {
        height: 100%;
    }
}

.back-logo {
    filter: saturate(0%);
    animation: backLogoAn 2s ease;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    transition: .5s ease;
    transform: translate(-50%, -50%);
    opacity: .03;
    /* mask-image: linear-gradient(to bottom, #1c1b22, #1c1b22bc, #1c1b2200); */
    /* -webkit-mask-image: linear-gradient(to bottom, #1c1b22, #1c1b22bc, #1c1b2200); */
}

body.light .back-logo {
    filter: none
}

body.expand-menu header {
    height: 355px;
    position: fixed;
    height: fit-content;
}

body.expand-menu header {
    padding-bottom: 20px;
}

/* body.expand-menu .window> :not(header) {
    filter: opacity(.4) blur(6px) saturate(10%);
    pointer-events: none;
}

body.expand-menu .back-logo {
    opacity: .01;
} */

.menuStuff {
    padding: 20px;
    display: flex;
    place-content: center;
}

.menuStuff .projects {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, 160px);
    width: 100%;
    place-content: center;
}

@keyframes smallAn {
    from {
        opacity: 0;
        height: 0;
    }
}

.menuStuff .projects .project {
    animation: smallAn .4s ease;
    background: var(--background-menu-project-box);
    min-width: 160px;
    height: 196px;
    padding: 10px;
    border-radius: 6px;
    overflow: hidden;

}

.menuStuff .projects .project .top {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 12px;
    width: 140px;
    height: 90px;
}

.menuStuff .projects .project .top img {
    width: 71px;
    height: auto;
}

.menuStuff .projects .project .top img.unequal {
    height: 87%;
    width: auto;
}

.menuStuff .projects .project .bottom .desc.name {
    margin-bottom: 5px;
}

.menuStuff .projects .project .bottom .desc.small {
    opacity: .5;
    font-size: 83%;
}

.menuStuff .projects .project .bottom .desc.smaller {
    color: #9c9bb7;
}

body.light .menuStuff .projects .project .bottom .desc.smaller {
    color: #152040;
}

.menuStuff .projects .project .bottom .desc.smaller::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' x='0' y='0' viewBox='0 0 6.3499999 6.3500002' xml:space='preserve'%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg' transform='translate(0 -290.65)'%3E%3Cpath d='m2.9119652 291.18173-.00212 4.6452-.8691987-.86765c-.049813-.0512-.1182159-.0801-.1896534-.0801-.2357199.002-.3514672.28786-.1834515.4532l1.3224009 1.32395c.1033859.10363.2712693.10363.3746553 0l1.3223981-1.32395c.25899-.25009-.1265132-.63347-.3751686-.3731l-.8728155.87281.00212-4.65036c.00265-.14915-.1185148-.27099-.2676842-.26949-.1469443.001-.2643479.12257-.2614824.26949z' fill='%239c9bb7'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: inherit;
    transform: rotate(-90deg) translateY(37px);
    transition: .25s ease;
    display: inline-block;
    position: absolute;
    width: 14px;
}


body.light .menuStuff .projects .project .bottom .desc.smaller::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' x='0' y='0' viewBox='0 0 6.3499999 6.3500002' xml:space='preserve'%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg' transform='translate(0 -290.65)'%3E%3Cpath d='m2.9119652 291.18173-.00212 4.6452-.8691987-.86765c-.049813-.0512-.1182159-.0801-.1896534-.0801-.2357199.002-.3514672.28786-.1834515.4532l1.3224009 1.32395c.1033859.10363.2712693.10363.3746553 0l1.3223981-1.32395c.25899-.25009-.1265132-.63347-.3751686-.3731l-.8728155.87281.00212-4.65036c.00265-.14915-.1185148-.27099-.2676842-.26949-.1469443.001-.2643479.12257-.2614824.26949z' fill='%23152040'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.menuStuff .projects .project:hover .bottom .desc.smaller::before,
.menuStuff .projects .project .bottom .desc.smaller:hover::before {
    transform: rotate(-90deg) translateY(40px);
}

.pointer {
    cursor: pointer;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-60px);
        box-shadow: 0 0 20px 0 #00000000;
    }
}

header {
    animation: fromTop .8s cubic-bezier(.58, -.11, .54, 1.29);
    border-bottom: var(--border-bottom-header);
    background: var(--background-header);
    padding-top: 10px;
    box-shadow: var(--shadow-header);
    white-space: nowrap;
    height: var(--header-height);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 11;
}

body.expand-menu header {
    box-shadow: 0px 0px 50px -12px rgba(0, 0, 0, 0.46);
}

.lnk a, a.lnk {
    text-decoration: none;
    position: relative;
}

.lnk::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: 1px solid rgb(114 124 172 / 50%);
    border-width: 0 0 1px;
    transition: .25s ease;
}

body.light .lnk::after {
    border: 1px solid #ef524e80;
}

.lnk-hoverable:hover .lnk::after,
.lnk:hover::after {
    border: 1px solid #659df1;
    border: 1px solid #727bac;
}

.menuCont {
    padding: 0 130px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-direction: row;
    margin: auto;
    margin: 10px auto;
    width: 100%;
    margin-top: 0;
}

.menuLogo {
    font-family: var(--secFont);
    font-weight: 700;
    font-size: 30px;
}

.menuLinks {
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    margin: auto 0;
}

.menuLinks .menuLink.has-arrow::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' x='0' y='0' viewBox='0 0 128 128' xml:space='preserve'%3E%3Cg%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m64 92.5 50-50-7.1-7.1-17.1 17.2-25.8 25.8-25.8-25.8-17.1-17.1-7.1 7.1z' fill='%23fff'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    /* border-left: 5px solid transparent; */
    /* border-right: 5px solid transparent; */
    /* border-top: 5px solid #ffffffb0; */
    transform: translateY(50px);
    transition: .25s ease;
    right: -10px;
    position: relative;
    width: 10px;
    display: inline-block;
    top: -50px;
}

body.light .menuLinks .menuLink.has-arrow::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' x='0' y='0' viewBox='0 0 128 128' xml:space='preserve'%3E%3Cg%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m64 92.5 50-50-7.1-7.1-17.1 17.2-25.8 25.8-25.8-25.8-17.1-17.1-7.1 7.1z' fill='%230d0b1c'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

body.expand-menu.projects .menuLinks .menuLink.projects::after {
    transform: translateY(50px) rotate(180deg);
}

.hbm {
    top: -6px;
}

.hbm div {
    height: 2px;
    width: 20px;
    background: white;
}

.hbm div+div {
    margin-top: 4px;
}

.hbm, .menuLinks .menuLink:not(:last-child) {
    position: relative;
    margin-right: 30px;
}

.menuLink:first-child {
    margin-left: 10px;
}

.welcome {
    font-size: 40px;
    margin: calc(90px + var(--header-height)) auto 50px auto;
    font-weight: 700;
    font-family: var(--secFont);
}

header .menuCont, main, section .cards, .menuStuff {
    margin: auto;
    padding-left: 12%;
    padding-right: 12%;
    transition: .25s ease;
}

main {
    margin-bottom: 100px;
    position: relative;
}

#about {
    position: relative;
    animation: toRight 1s ease;
}

@keyframes toRight {
    from {
        opacity: 0;
        left: -5%;
    }

    to {
        left: 0;
    }
}

.aboutBtns {
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.aboutBtns .btn {
    padding: 10px 17px 10px 17px;
    background: var(--background-btns);
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.aboutBtns .btn+.btn {
    margin-left: 20px;
}

body .aboutBtns .btn:hover {
    filter: brightness(.8);
}

body:is(.light, .dark) .aboutBtns .btn:hover {
    filter: brightness(.9);
}

.window>section:first-of-type {
    width: 100%;
    top: 350px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
    justify-content: center;
    text-align: center;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.card {
    position: relative;
    height: 300px;
    min-width: 300px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, .05) 0 14px 10px, rgba(0, 0, 0, .22) 0 10px 10px;
    background: var(--background-card);
    animation: appear var(--time) ease;
}

.card:hover:not(.comingSoon) {
    position: relative;
    transform: translateY(-10px);
}

body:not(.light) .card .title {
    opacity: .6;
}

.card .title {
    color: var(--hoverCol2);
    padding: 10px;
    position: relative;
    bottom: 0;
    border-radius: inherit;
    font-size: 90%;
}

.card a, .card p {
    color: var(--color);
    text-align: left;
    margin: 3%3%3%3%;
}

.card .descLink, .card .projDesc .desc {
    color: var(--color);
    text-align: left;
    margin: 5%5%5%5%;
    opacity: .6;
    position: relative;
}

.card .descLink {
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    background: var(--background-descLink);
    position: absolute;
    bottom: 15px;
}

.card .descLink:hover {
    transform: scale(1.1);
    opacity: inherit !important;
}

.card img {
    position: absolute;
    width: 150px;
    left: 25%;
    top: 30%;
    opacity: .1;
    pointer-events: none;
    transition: .5s ease;
    mask-image: linear-gradient(-73deg, #29282e70, #29282e00);
    -webkit-mask-image: linear-gradient(-73deg, #29282e60, #29282e00);
}

body.light .card img {
    mask-image: linear-gradient(-73deg, #ebedef, #ebedef);
    -webkit-mask-image: linear-gradient(-73deg, #ebedef, #ebedef);
}

.card:hover img {
    opacity: 1;
    mask-image: none;
    -webkit-mask-image: none;
}

.card:hover .descLink {
    opacity: 1;
}

.card:hover .desc {
    opacity: 0;
    pointer-events: none;
}

.embCard img {
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.card:not(.comingSoon):hover {
    background-color: var(--background-card-head);
}

.card .title:after {
    content: " - "attr(data-brief);
    color: inherit;
    opacity: .5;
}

.projs {
    position: absolute;
    margin: 5%2%;
    z-index: 1;
    transition: 1s ease;
    animation: appear2 3s ease;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.projs span {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: right;
    text-orientation: sideways;
    white-space: nowrap;
    color: var(--hoverCol2);
    opacity: .3;
    text-transform: uppercase;
    font-family: var(--secFont);
}

main {
    animation: appear2 2s ease;
}

@keyframes nojsAn {
    20% {
        opacity: 0;
    }

    55% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.nojs {
    opacity: 0;
    pointer-events: none;
    bottom: 0;
    color: #ffffff9e;
    animation: nojsAn 10s ease;
    position: absolute;
    left: 50%;
    z-index: 12;
    transform: translate(-50%, -50%);
}

@keyframes disappear {
    from {
        opacity: 1;
    }
}

@keyframes appear2 {
    from {
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1550px) {
    .window>section:first-of-type {
        top: 50px;
    }
}

body .outside.next {
    display: block;
}

@media screen and (max-width: 1060px) {
    .outside.next:not(.close) {
        display: none;
    }
}

@media only screen and (max-width: 1060px) {
    header .menuCont, main, section .cards {
        padding: 0 20px;
    }

    .projs {
        transition: 1s ease;
        display: none;
    }

    .welcome {
        margin-top: calc(70px + var(--header-height));
        font-size: 30px;
    }

    .menuStuff {
        padding-right: 10px;
        padding-left: 10px;
    }

    .menuCont {
        padding: 0 20px;
    }
}

@media screen and (max-width: 900px) {
    .window>section:first-of-type {
        top: 50px;
    }
}

@media screen and (max-width: 500px) {
    .menuLinks {
        transform: translateY(5px);
    }

    .menuLink, .outside.page-info {
        display: none;
    }

    body.menu .menuLogo {
        opacity: 0;
        position: absolute;
        pointer-events: none;
    }

    @keyframes menuLinkAn {
        from {
            transform: translateX(80px);
            opacity: 0;
        }
    }

    body.menu .menuLink {
        animation: menuLinkAn .5s ease;
        display: block;
    }


    @media screen and (max-width: 365px) {
        .menuStuff .projects {
            grid-template-columns: 1fr;
        }

        .menuStuff {
            padding-right: 20px;
            padding-left: 20px;
        }

        .menuStuff .projects .project {
            padding: 10px 20px;
        }

        body.menu .menuLink.about {
            display: none;
        }

        label[data-after]::after {
            content: none;
        }

        form .field:not(.message) {
            width: calc((100% - 20px)/2);
        }

        .cards {
            grid-template-columns: none;
        }

        .cards .card {
            min-width: auto;
        }
    }

    .hbm {
        display: block;
        transition: .5s ease;
    }

    body.menu .first {
        transform: rotate(45deg) translate(7px, 7px);
    }

    body.menu .second {
        display: none;
    }

    body.menu .last {
        margin: 0;
        transform: rotate(-45deg) translate(-6px, 5px);
    }

    body.menu .hbm {
        top: -3px;
        background: #46464400;
        width: 20px;
        height: 20px;
    }

    body:not(.menu) .hbm {
        margin-right: 0;
    }

    .welcome {
        margin-top: calc(80px + var(--header-height))
    }
}

::-moz-selection {
    color: var(--selectionCol);
}

::selection {
    color: var(--selectionCol);
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 68px;
    justify-content: space-between;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

form .title {
    width: 100%;
    font-size: 39px;
    font-size: clamp(1.7rem, 10vw, 2.45rem);
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 80px;
    font-family: var(--secFont);
}

form .field {
    width: 100%;
    position: relative;
    margin-bottom: 65px;
    padding-bottom: 13px;
}

form .field label {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 5px;
}

[data-after]::after {
    content: " "attr(data-after);
}

@media screen and (min-width: 1115px) {
    form .field label[for="email"][data-after]::after {
        content: " (optional but required if you want a reply)";
    }
}

form .field:not(.message) {
    width: calc((100% - 30px)/2);
}

form .field.message {
    margin-bottom: 78px;
    padding-bottom: 0;
    max-width: inherit;

}

form :is(input, textarea) {
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    display: block;
    padding: 0 5px;
    font-size: 18px;
    background: 0 0;
    line-height: 1.2;
    font-weight: 500;
    border: none;
    outline: none;
}

form .field input {
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}

form .field .input-line {
    width: 100%;
    height: 2px;
    position: absolute;
    background: var(--background-contact-line);
}

form .field:not(.message) .input-line {
    bottom: -2px;
    left: 0;
}

form textarea {
    padding-top: 9px;
    margin-top: 10px;
    min-height: 110px;
    border-radius: 5px;
    padding-bottom: 13px;
}

form .submit button {
    height: 50px;
    display: flex;
    font-size: 16px;
    padding: 0 20px;
    cursor: pointer;
    line-height: 1.2;
    min-width: 160px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 10px 0 #0000000f;
    background: linear-gradient(150deg, #3f3b44, #3c3748);
    gap: 11px;
    border: none;
}

form .submit button svg {
    width: 20px;
    height: auto;
}

body.light form .submit button * {
    color: white;
}

body.light form .submit button {
    background: #D9AEAE82;
    background: #0d0202d4;
}

body.light form .submit button:hover {
    background: #ff0b0b47;
    background: #1d0505d4;
}

body.dark form .submit button {
    background: #34363e;
}

form .submit button:hover {
    filter: contrast(1.1);
    box-shadow: 0 10px 10px 0 #1f1d2275;
}

body.light form .submit button:hover {
    filter: contrast(.8);
    box-shadow: 0 10px 10px 0 #1f1d2217;
}

body.dark form .submit button:hover {
    filter: contrast(.95);
}