/* Import global styles (used in all CSS files) */
@import url(./index.css);

body {
    --background-btns: linear-gradient(to right, #36353c, rgb(72 70 79 / 71%));
    --background-btns: #37363d;
    --background-card: #29282e;
    --background-card-head: #26252b;
    --background-descLink: #1f1e24;
    --background-contact-line: #5b5a5ea3;
    --background-body: #15141a;
}

body.dark {
    --selectionCol: #659cf1;
    --background: #26282e;
    --background-scroll: #242426;
    --background-scroll: #3d4149;
    --background-btns: #34363e;
    --background-card: rgb(52 54 62);
    --background-card-head: rgb(55 57 66);
    --background-header: #26282e;
    --background-descLink: #282a2f;
    --background-contact-line: #46474a;
    --shadow-header: 0 0 20px 0 #00000080;
    --border-bottom-header: 1px solid #ef524e;
    --border-bottom-header: 1px solid rgb(114 124 172 / 50%);
    --background-menu-project-box: #212328;
    --background-body: #1c1d22;
}

body.light {
    --color: #0d0b1c;
    --selectionCol: #2a6bd3;
    --hoverCol2: rgb(28, 21, 12);
    --background: #fff;
    --background-scroll: #dbdbdb;
    --background-btns: #e6e6e6;
    --background-card: #ebedef;
    --background-card-head: var(--background-card);
    --background-header: #ffff;
    --background-descLink: #babcbf91;
    --background-contact-line: #3d3847;
    --background-contact-line: #5e52522e;
    --shadow-header: 0 0 20px 0 #00000054;
    --shadow-header: 0px 0px 50px -12px rgba(0, 0, 0, 0.29);
    --border-bottom-header: 1px solid rgb(114 124 172 / 50%);
    --background-menu-project-box: var(--background-card);
    --background-body: #eee;
}

body.light .card {
    box-shadow: rgba(0, 0, 0, .05) 0 14px 10px, rgba(0, 0, 0, .22) 0 10px 10px;
    box-shadow: rgba(0, 0, 0, .05) 0 14px 10px, rgba(0, 0, 0, 0) 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: #0d0b1c;
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    color: var(--hoverCol2);
    font-family: var(--secFont);
    font-family: var(--mainFont);
    vertical-align: top;
    scrollbar-color: var(--background-scroll) var(--background);
    scrollbar-width: thin;
    transition: all .3s ease;
}

a:hover:not(.menuLogo):not(.btn) {
    opacity: .6;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background: var(--background-body);
    overflow: hidden;
}

body.notLoaded :is(.window> :not(.back-logo), .outside) {
    display: none;
}

.window {
    top: 50%;
    left: 50%;
    z-index: 1;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background);
    transform: translate(-50%, -50%);
}

.window.active~.page-info {
    /* opacity: 0; */
    pointer-events: none;
}

@keyframes fromBottom {
    from {
        bottom: -25px;
    }
}

.page-info {
    animation: fromBottom .5s ease;
    position: absolute;
    bottom: 15px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 80%;
    display: grid;
    grid-template-columns: 1fr auto;
}

.page-info .left {
    opacity: .6;
}

body.light .page-info {
    opacity: 1
}

.page-info .left .item .value {
    opacity: .5;
    margin-left: 10px;
}


.page-info .right .discord-logo {
    opacity: .3;
    width: auto;
    height: 30px;
}

.page-info .right .discord-logo:hover {
    opacity: 1;
}

.themes {
    display: flex;
    gap: 15px;
}

.themes .theme {
    width: 25px;
    height: 25px;
    position: relative;
    background: #25242b;
    border-radius: 100%;
}

.themes .theme.light {
    background: #fff;
}

.themes .theme.dark {
    background: #34363e;
}

body:not(.light):not(.dark) .themes .theme.darker,
body.dark .themes .theme.dark,
body.light .themes .theme.light,
.themes .theme:is(.active, :hover) {
    width: 16px;
    height: 16px;
    margin: 5px 4.5px 0 4.5px;
    transition: none;
}

body.dark .themes .theme.dark::after,
body.light .themes .theme.light::after,
body:not(.light):not(.dark) .themes .theme.darker::after,
.themes .theme:is(.active, :hover)::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 3px solid #4f8bff;
    border-radius: 100%;
    top: -7px;
    left: -7px;
}

@keyframes nextAn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }
}

.outside.next {
    animation: nextAn 3s ease;
    position: fixed;
    top: 17px;
    right: 25px;
    width: 17px;
    z-index: 15;
    height: auto;
    display: none;
}

.outside.next.close {
    width: 25px;
    top: 13px;
    right: 21px;
}

.outside.next svg {
    width: 100%;
    height: 100%;
}

body.otherWindow .outside.next {
    top: 15px;
    color: #000 !important;
}

.outside.next:hover {
    opacity: .8;
}

.invisible,
.window.active~.next.close,
.window:not(.active)~.next:not(.close) {
    opacity: 0 !important;
    pointer-events: none !important;
}

.window:nth-of-type(2) {
    padding: 5%;
}

/* Not on a phone or small device */
@media screen and (min-width: 750px) and (min-height: 650px) {
    .window {
        --width: 90%;
        --height: 85%;
        --top: 47%;
        --left: 50%;
        --border-radius: 10px;
    }

    .window:not(.active) {
        overflow: hidden;
        border-radius: var(--border-radius);
        box-shadow: #0003 0px 7px 29px 0px;
        top: var(--top);
        width: var(--width);
        height: var(--height);
    }


    @keyframes otherWinAn {
        0% {
            left: 150%;
            top: var(--top);
            width: var(--width);
            height: var(--height);
            border-radius: var(--border-radius);
        }

        40% {
            left: var(--left);
            top: var(--top);
            width: var(--width);
            height: var(--height);
            border-radius: var(--border-radius);
        }

        70% {
            top: var(--top);
            width: var(--width);
            height: var(--height);
            border-radius: var(--border-radius);
        }
    }

    .window:nth-of-type(2) {
        animation: otherWinAn 1.5s ease;
        top: 50%;
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding: 0 20%;
    }
}

@keyframes backLogoAn {
    0% {
        opacity: 0;
    }

    40% {
        height: 90%;
        filter: saturate(0%);
    }

    45% {
        filter: saturate(100%);
    }

    50% {
        filter: saturate(0%);
        opacity: .1;
    }

    55% {
        filter: saturate(100%);
    }

    60% {
        filter: saturate(0%);
    }

    65% {
        filter: saturate(100%);
    }

    100% {
        height: 100%;
    }
}

.back-logo {
    filter: saturate(0%);
    animation: backLogoAn 2s ease;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    transition: .5s ease;
    transform: translate(-50%, -50%);
    opacity: .03;
    /* mask-image: linear-gradient(to bottom, #1c1b22, #1c1b22bc, #1c1b2200); */
    /* -webkit-mask-image: linear-gradient(to bottom, #1c1b22, #1c1b22bc, #1c1b2200); */
}

body.light .back-logo {
    filter: none
}

/* body.expand-menu .window> :not(header) {
    filter: opacity(.4) blur(6px) saturate(10%);
    pointer-events: none;
}

body.expand-menu .back-logo {
    opacity: .01;
} */

body.light .menuStuff .projects .project .bottom .desc.smaller {
    color: #152040;
}


body.light .menuStuff .projects .project .bottom .desc.smaller::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' x='0' y='0' viewBox='0 0 6.3499999 6.3500002' xml:space='preserve'%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg' transform='translate(0 -290.65)'%3E%3Cpath d='m2.9119652 291.18173-.00212 4.6452-.8691987-.86765c-.049813-.0512-.1182159-.0801-.1896534-.0801-.2357199.002-.3514672.28786-.1834515.4532l1.3224009 1.32395c.1033859.10363.2712693.10363.3746553 0l1.3223981-1.32395c.25899-.25009-.1265132-.63347-.3751686-.3731l-.8728155.87281.00212-4.65036c.00265-.14915-.1185148-.27099-.2676842-.26949-.1469443.001-.2643479.12257-.2614824.26949z' fill='%23152040'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

body.light .lnk::after {
    border: 1px solid #ef524e80;
}

body.light .menuLinks .menuLink.has-arrow::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' x='0' y='0' viewBox='0 0 128 128' xml:space='preserve'%3E%3Cg%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m64 92.5 50-50-7.1-7.1-17.1 17.2-25.8 25.8-25.8-25.8-17.1-17.1-7.1 7.1z' fill='%230d0b1c'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

body.light .hbm div {
    background: #1c150c;
}

.welcome {
    font-size: 40px;
    margin: calc(90px + var(--header-height)) auto 50px auto;
    font-weight: 700;
    font-family: var(--secFont);
}

main {
    margin-bottom: 100px;
    position: relative;
}

.aboutBtns {
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.aboutBtns .btn {
    padding: 10px 17px 10px 17px;
    background: var(--background-btns);
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.aboutBtns .btn+.btn {
    margin-left: 20px;
}

body .aboutBtns .btn:hover {
    filter: brightness(.8);
}

body:is(.light, .dark) .aboutBtns .btn:hover {
    filter: brightness(.9);
}

.window>section:first-of-type {
    width: 100%;
    top: 350px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
    justify-content: center;
    text-align: center;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.card {
    position: relative;
    height: 300px;
    min-width: 300px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, .05) 0 14px 10px, rgba(0, 0, 0, .22) 0 10px 10px;
    background: var(--background-card);
    animation: appear var(--time) ease;
}

.card:hover:not(.comingSoon) {
    position: relative;
    transform: translateY(-10px);
}

body:not(.light) .card .title {
    opacity: .6;
}

.card .title {
    color: var(--hoverCol2);
    padding: 10px;
    position: relative;
    bottom: 0;
    border-radius: inherit;
    font-size: 90%;
}

.card a, .card p {
    color: var(--color);
    text-align: left;
    margin: 3% 3% 3% 3%;
}

.card .descLink, .card .projDesc .desc {
    color: var(--color);
    text-align: left;
    margin: 5% 5% 5% 5%;
    opacity: .6;
    position: relative;
}

.card .descLink {
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    background: var(--background-descLink);
    bottom: 15px;
}

.card .descLink:hover {
    transform: scale(1.1);
    opacity: inherit !important;
}

.card img {
    position: absolute;
    width: 150px;
    left: 25%;
    top: 30%;
    opacity: .1;
    pointer-events: none;
    transition: .5s ease;
    mask-image: linear-gradient(-73deg, #29282e70, #29282e00);
    -webkit-mask-image: linear-gradient(-73deg, #29282e60, #29282e00);
}

body.light .card img {
    mask-image: linear-gradient(-73deg, #ebedef, #ebedef);
    -webkit-mask-image: linear-gradient(-73deg, #ebedef, #ebedef);
}

.card:hover img {
    opacity: 1;
    mask-image: none;
    -webkit-mask-image: none;
}

.card:hover .descLink {
    opacity: 1;
}

.card:hover .desc {
    opacity: 0;
    pointer-events: none;
}

.embCard img {
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.card:not(.comingSoon):hover {
    background-color: var(--background-card-head);
}

.card .title:after {
    content: " - " attr(data-brief);
    color: inherit;
    opacity: .5;
}

.projs {
    position: absolute;
    margin: 5% 2%;
    z-index: 1;
    transition: 1s ease;
    animation: appear2 3s ease;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.projs span {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: right;
    text-orientation: sideways;
    white-space: nowrap;
    color: var(--hoverCol2);
    opacity: .3;
    text-transform: uppercase;
    font-family: var(--secFont);
}

main {
    animation: appear2 2s ease;
}

@keyframes nojsAn {
    20% {
        opacity: 0;
    }

    55% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.nojs {
    opacity: 0;
    pointer-events: none;
    bottom: 0;
    color: #ffffff9e;
    animation: nojsAn 10s ease;
    position: absolute;
    left: 50%;
    z-index: 12;
    transform: translate(-50%, -50%);
}

@keyframes disappear {
    from {
        opacity: 1;
    }
}

@keyframes appear2 {
    from {
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1550px) {
    .window>section:first-of-type {
        top: 50px;
    }
}

body .outside.next {
    display: block;
}

@media screen and (max-width: 1060px) {
    .outside.next:not(.close) {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .window>section:first-of-type {
        top: 50px;
    }
}

@media screen and (max-width: 500px) {
    .outside.page-info {
        display: none;
    }

    .welcome {
        margin-top: calc(80px + var(--header-height))
    }
}

@media screen and (max-width: 365px) {
    .menuStuff .projects {
        grid-template-columns: 1fr;
    }

    .menuStuff {
        padding-right: 20px;
        padding-left: 20px;
    }

    .menuStuff .projects .project {
        padding: 10px 20px;
    }

    body.menu .menuLink.about {
        display: none;
    }

    label[data-after]::after {
        content: none;
    }

    form .field:not(.long) {
        width: calc((100% - 20px)/2);
    }

    .cards {
        grid-template-columns: none;
    }

    .cards .card {
        min-width: auto;
    }
}

body.light form .submit button * {
    color: white;
}

body.light form .submit button {
    background: #D9AEAE82;
    background: #0d0202d4;
}

body.light form .submit button:hover {
    background: #ff0b0b47;
    background: #1d0505d4;
}

body.dark form .submit button {
    background: #34363e;
}

form .submit button:hover {
    filter: contrast(1.1);
    box-shadow: 0 10px 10px 0 #1f1d2275;
}

body.light form .submit button:hover {
    filter: contrast(.8);
    box-shadow: 0 10px 10px 0 #1f1d2217;
}

body.dark form .submit button:hover {
    filter: contrast(.95);
}