@import url(https://fonts.googleapis.com/css?family=Heebo|Ubuntu:700&display=swap);

:root {
    --hoverCol: #659cf1;
    --hoverCol2: rgb(227, 234, 243);
    --mainFont: 'Heebo', sans-serif;
    --secFont: 'Ubuntu', sans-serif;
    --header-height: 55px;
    /* Dark */
    --background: #26282e;
    --background-btns: rgb(70 71 79 / 71%);
    --background-card: rgb(52 54 62);
    --background-card-head: rgb(55 57 66);
    --background-header: #26282e00;
    --shadow-header: 0 0 20px 0 #00000080;
    --border-bottom-header: 1px solid rgb(114 124 172 / 50%);
    /* Darker */
    --background: #1c1b22;
    --background-btns: #36353c;
    --background-card: #29282e;
    --background-card-head: #26252b;
    --background-header: #212026;
    --shadow-header: 0px 0px 50px -12px rgba(0, 0, 0, 0.46);
    --border-bottom-header: 1px solid #312f3b;

    --background-header: #25242b;
    --border-bottom-header: 1px solid #00000000;
    --shadow-header: 0px 0px 50px -12px rgba(0, 0, 0, 0.2);
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    color: var(--hoverCol2);
    font-family: var(--secFont);
    font-family: var(--mainFont);
    vertical-align: top;
    scrollbar-color: #3d4149 var(--background);
    scrollbar-width: thin;
    transition: all .25s ease;
}

a {
    transition: .25s ease;
}

a:hover:not(.menuLogo):not(.btn) {
    opacity: .6;
}

body {
    transition: .5s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    background: var(--background);
}

.hidden,
body:not(.expand-menu) .menuStuff .projects .project,
body.notLoaded :is(.window> :not(.back-logo), .outside) {
    display: none !important;
}

body {
    background: var(--background);
    background: #15141a;
    overflow: hidden;
}

.window {
    top: 50%;
    left: 50%;
    z-index: 1;
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .4s ease;
    background: var(--background);
    transform: translate(-50%, -50%);
}

.window.active~.page-info {
    /* opacity: 0; */
    pointer-events: none;
}

@keyframes fromBottom {
    from {
        bottom: -25px;
    }
}

.page-info {
    animation: fromBottom .5s ease;
    transition: .3s ease;
    position: absolute;
    bottom: 15px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    opacity: .6;
    font-size: 80%;
    display: grid;
    grid-template-columns: 1fr auto;
}

.page-info .left .item .value {
    opacity: .5;
    margin-left: 10px;
}


.page-info .right .discord-logo {
    opacity: .3;
    width: auto;
    height: 30px;
}

.page-info .right .discord-logo:hover {
    opacity: 1;
}

@keyframes nextAn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }
}

.outside.next {
    animation: nextAn 2s ease;
    position: fixed;
    top: 17px;
    right: 25px;
    width: 17px;
    z-index: 15;
    opacity: 0.2;
    height: auto;
    display: none;
}

.outside.next.close {
    opacity: .5;
}

.outside.next.close {
    width: 25px;
    top: 13px;
    right: 21px;
}

.outside.next svg {
    width: 100%;
    height: 100%;
}

body.frame .outside.next {
    top: 15px;
    color: #000!important;
}

.outside.next:hover {
    opacity: 1;
}

.invisible,
.window.active~.next.close,
.window:not(.active)~.next:not(.close) {
    opacity: 0 !important;
    pointer-events: none !important;
}

@media screen and (min-width: 750px) {
    .window {
        --width: 90%;
        --height: 85%;
        --top: 47%;
        --left: 50%;
        --border-radius: 10px;
    }

    .window:not(.active) {
        overflow: hidden;
        border-radius: var(--border-radius);
        box-shadow: #0003 0px 7px 29px 0px;
        /* box-shadow: #00000048 0px 7px 29px 0px; */
        top: var(--top);
        width: var(--width);
        height: var(--height);
    }

    .outside.next {
        display: block;
    }



    @keyframes otherWinAn {
        0% {
            left: 150%;
            top: var(--top);
            width: var(--width);
            height: var(--height);
            border-radius: var(--border-radius);
        }

        40% {
            left: var(--left);
            top: var(--top);
            width: var(--width);
            height: var(--height);
            border-radius: var(--border-radius);
        }

        70% {
            top: var(--top);
            width: var(--width);
            height: var(--height);
            border-radius: var(--border-radius);
        }
    }

    .window.\:2 {
        animation: otherWinAn 1.5s ease;
        top: 50%;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    iframe {
        border: none;
        background: #fff;
    }
}

@keyframes backLogoAn {
    0% {
        opacity: 0;
    }

    40% {
        height: 90%;
        filter: saturate(0%);
    }

    45% {
        filter: saturate(100%);
    }

    50% {
        filter: saturate(0%);
        opacity: .1;
    }

    55% {
        filter: saturate(100%);
    }

    60% {
        filter: saturate(0%);
    }

    65% {
        filter: saturate(100%);
    }

    100% {
        height: 100%;
    }
}

.back-logo {
    filter: saturate(0%);
    animation: backLogoAn 2s ease;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    transition: .5s ease;
    transform: translate(-50%, -50%);
    opacity: .03;
    /* mask-image: linear-gradient(to bottom, #1c1b22, #1c1b22bc, #1c1b2200); */
    /* -webkit-mask-image: linear-gradient(to bottom, #1c1b22, #1c1b22bc, #1c1b2200); */
}

body.expand-menu header {
    height: 355px;
    position: fixed;
    height: fit-content;
}

body.expand-menu header {
    padding-bottom: 20px;
}

/* body.expand-menu .window> :not(header) {
    filter: opacity(.4) blur(6px) saturate(10%);
    pointer-events: none;
}

body.expand-menu .back-logo {
    opacity: .01;
} */

.menuStuff {
    padding: 20px;
    display: flex;
    place-content: center;
}

.menuStuff .projects {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, 160px);
    width: 100%;
    place-content: center;
}

@keyframes smallAn {
    from {
        opacity: 0;
        height: 0;
    }
}

.menuStuff .projects .project {
    transition: .2s ease;
    animation: smallAn .4s ease;
    background: #1f1e24b8;
    min-width: 160px;
    height: 196px;
    padding: 10px;
    border-radius: 6px;
    overflow: hidden;

}

.menuStuff .projects .project .top {
    background: #1f1e24b8;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 12px;
    width: 140px;
    height: 90px;
}

.menuStuff .projects .project .top img {
    width: 71px;
    height: auto;
}

.menuStuff .projects .project .top img.unequal {
    height: 87%;
    width: auto;
}

.menuStuff .projects .project .bottom .desc.name {
    margin-bottom: 5px;
}

.menuStuff .projects .project .bottom .desc.small {
    opacity: .5;
    font-size: 83%;
}

.menuStuff .projects .project .bottom .desc.smaller {
    color: #9c9bb7;
}

.menuStuff .projects .project .bottom .desc.smaller::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' x='0' y='0' viewBox='0 0 6.3499999 6.3500002' xml:space='preserve'%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg' transform='translate(0 -290.65)'%3E%3Cpath d='m2.9119652 291.18173-.00212 4.6452-.8691987-.86765c-.049813-.0512-.1182159-.0801-.1896534-.0801-.2357199.002-.3514672.28786-.1834515.4532l1.3224009 1.32395c.1033859.10363.2712693.10363.3746553 0l1.3223981-1.32395c.25899-.25009-.1265132-.63347-.3751686-.3731l-.8728155.87281.00212-4.65036c.00265-.14915-.1185148-.27099-.2676842-.26949-.1469443.001-.2643479.12257-.2614824.26949z' fill='%239c9bb7'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: inherit;
    transform: rotate(-90deg) translateY(37px);
    transition: .25s ease;
    display: inline-block;
    position: absolute;
    width: 14px;
}

.menuStuff .projects .project:hover .bottom .desc.smaller::before,
.menuStuff .projects .project .bottom .desc.smaller:hover::before {
    transform: rotate(-90deg) translateY(40px);
}

.pointer {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #3d4149;
}

::-webkit-scrollbar-track {
    background: #26282e;
}


img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-60px);
        box-shadow: 0 0 20px 0 #00000000;
    }
}

header {
    animation: fromTop .8s cubic-bezier(.58, -.11, .54, 1.29);
    transition: .4s ease;
    border-bottom: var(--border-bottom-header);
    background: var(--background-header);
    padding-top: 10px;
    box-shadow: var(--shadow-header);
    white-space: nowrap;
    height: var(--header-height);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 11;
    /* box-shadow: 0px 0px 50px -12px rgba(0, 0, 0, 0.46); */
}

.contact {
    cursor: pointer;
}

.lnk a, a.lnk {
    text-decoration: none;
    position: relative;
}

.lnk::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: 1px solid rgb(114 124 172 / 50%);
    border-width: 0 0 1px;
    transition: .25s ease;
}

.lnk-hoverable:hover .lnk::after,
.lnk:hover::after {
    border: 1px solid #659df1;
    border: 1px solid #727bac;
}

.menuCont {
    padding: 0 130px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-direction: row;
    margin: auto;
    margin: 10px auto;
    width: 100%;
    margin-top: 0;
}

.menuLogo {
    font-family: var(--secFont);
    font-weight: 700;
    font-size: 30px;
}

.menuLinks {
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    margin: auto 0;
}

.menuLinks .menuLink.has-arrow::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' x='0' y='0' viewBox='0 0 128 128' xml:space='preserve'%3E%3Cg%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m64 92.5 50-50-7.1-7.1-17.1 17.2-25.8 25.8-25.8-25.8-17.1-17.1-7.1 7.1z' fill='%23fff'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    /* border-left: 5px solid transparent; */
    /* border-right: 5px solid transparent; */
    /* border-top: 5px solid #ffffffb0; */
    transform: translateY(50px);
    transition: .25s ease;
    right: -10px;
    position: relative;
    width: 10px;
    display: inline-block;
    top: -50px;
}

body.expand-menu.projects .menuLinks .menuLink.projects::after {
    transform: translateY(50px) rotate(180deg);
}

.menuLink:not(:last-child) {
    position: relative;
    margin-right: 30px;
}

.menuLink:first-child {
    margin-left: 10px;
}

.welcome {
    font-size: 40px;
    margin: calc(90px + var(--header-height)) auto 50px auto;
    font-weight: 700;
    font-family: var(--secFont);
}

header .menuCont, main, section .cards, .menuStuff {
    margin: auto;
    padding-left: 12%;
    padding-right: 12%;
    transition: .25s ease;
    /* padding: 0 13%; */
    /* padding: 0 230px; */
}

/* section .cards {
    padding: 0 100px;
    padding: 0 11%;
} */

/* @media screen and (max-width: 1295px) {
    section .cards {
        padding: 0 7%;
    }
} */

main {
    margin-bottom: 100px;
    position: relative;
}

#about {
    position: relative;
    animation: toRight 1s ease;
}

@keyframes toRight {
    from {
        opacity: 0;
        left: -5%;
    }

    to {
        left: 0;
    }
}

.aboutBtns {
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    transition: .5s ease-in-out;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.aboutBtns .btn {
    padding: 10px 17px 10px 17px;
    background: linear-gradient(to right, var(--background-btns), rgb(72 70 79 / 71%));
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s ease;
}

.aboutBtns .btn+.btn {
    margin-left: 20px;
}

.aboutBtns .btn:hover {
    filter: brightness(.75);
}

.window>section:first-of-type {
    width: 100%;
    top: 350px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
    justify-content: center;
    text-align: center;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.card {
    position: relative;
    /* display: inline-block; */
    height: 300px;
    min-width: 300px;
    border-radius: 6px;
    /* margin: 10px 20px; */
    box-shadow: rgba(0, 0, 0, .05) 0 14px 10px, rgba(0, 0, 0, .22) 0 10px 10px;
    transition: .5s ease;
    background: var(--background-card);
    animation: appear var(--time) ease-in-out;
}

.card:hover:not(.comingSoon) {
    position: relative;
    transform: translateY(-10px);
}

.card .title {
    color: var(--hoverCol2);
    padding: 10px;
    position: relative;
    bottom: 0;
    /* background-color: var(--background-card-head); */
    transition: 1s ease-in-out;
    border-radius: inherit;
    opacity: .6;
    /* background: var(--background-card); */
    font-size: 90%;
}

.card a, .card p {
    color: #fff;
    text-align: left;
    margin: 3%3%3%3%;
}

.card .descLink, .card .projDesc .desc {
    color: #fff;
    text-align: left;
    margin: 5%5%5%5%;
    opacity: .6;
    position: relative;
}

.card .descLink {
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    background: #1f1e24;
    position: absolute;
    bottom: 15px;
}

.card .descLink:hover {
    transform: scale(1.1);
    opacity: inherit !important;
}

.card img {
    position: absolute;
    width: 150px;
    left: 25%;
    top: 30%;
    opacity: .1;
    pointer-events: none;
    transition: .5s ease;
    mask-image: linear-gradient(-73deg, #29282e70, #29282e00);
    -webkit-mask-image: linear-gradient(-73deg, #29282e60, #29282e00);
}

.card:hover img {
    opacity: 1;
    mask-image: none;
    -webkit-mask-image: none;
}

.card:hover .descLink {
    opacity: 1;
}

.card:hover .desc {
    opacity: 0;
    pointer-events: none;
}

.embCard img {
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.card:not(.comingSoon):hover {
    background-color: var(--background-card-head);
}

/* .card:not(.comingSoon):hover .title {
    background-color: var(--background-card-head);
} */

.card .title:after {
    content: " - "attr(data-brief);
    color: inherit;
    opacity: .5;
}

.projs {
    position: absolute;
    margin: 5%2%;
    z-index: 1;
    transition: 1s ease-in-out;
    animation: appear2 3s ease-in-out;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.projs span {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: right;
    text-orientation: sideways;
    white-space: nowrap;
    color: var(--hoverCol2);
    opacity: .3;
    text-transform: uppercase;
    font-family: var(--secFont);
}

main {
    animation: appear2 2s ease-in-out;
}

@keyframes nojsAn {
    20% {
        opacity: 0;
    }

    55% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.nojs {
    opacity: 0;
    bottom: 0;
    color: #ffffff9e;
    animation: nojsAn 10s ease;
    position: absolute;
    left: 50%;
    z-index: 12;
    transform: translate(-50%, -50%);
}

@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes appear2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }
}

@media only screen and (max-width:1550px) {
    .window>section:first-of-type {
        top: 50px;
    }
}

@media only screen and (max-width:1060px) {
    header .menuCont, main, section .cards {
        padding: 0 20px;
    }

    .projs {
        transition: 1s ease;
        display: none;
    }

    .welcome {
        margin-top: calc(70px + var(--header-height));
        font-size: 30px;
    }

    .menuStuff {
        padding-right: 20px;
        padding-left: 20px;
    }

    .menuCont {
        padding: 0 20px;
    }
}

@media screen and (max-width:900px) {
    .window>section:first-of-type {
        top: 50px;
    }
}

@media screen and (max-width:500px) {
    .about, .contact {
        display: none;
    }

    main, .menuCont {
        padding: 0 10px;
    }

    .welcome {
        margin-top: calc(50px + var(--header-height))
    }
}

::-moz-selection {
    color: var(--hoverCol);
}

::selection {
    color: var(--hoverCol);
}